:root {
    --main-radius: 1px;
    --main-padding: 5px;
}
  
.dash-nav {
    list-style: none;
}
  
.container {
    display: grid;
    height: 95vh;
    grid-template-columns: 1.5fr 6fr;
    grid-template-rows: 0.2fr 4fr;
    grid-template-areas:
      "nav nav"
      "sidebar main";
    grid-gap: 0.2rcm;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    /* text-transform: uppercase;*/
    font-size: 16px;
    color: #e6f3f3cc;
    /*text-align: center;*/
}

nav {
    background-color: rgb(14, 89, 112);
    grid-area: nav;
    border-radius: var(--main-radius);
}

main {
    background-color: rgb(37, 183, 219);
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: center;
    color: black;
    padding: 5px;
}

.dashmain {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.report-main{
    text-align: left;
}

#sidebar {
    background-color: rgb(25, 129, 155);
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: center;
}

.log-out-btn {
    background-color: white;
    float: right;
    padding: 10px 30px;
    font-weight: bold;
}
  
.com-abo {
    margin: 10px;
    text-align: left;
    color: black;
    font-weight: 100;
}

.gro-abo {
    margin: 0;
    position: relative;
    top: 45%;
  }

table {
    background-color: white;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    color:black;
    text-align: left;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 2px;
}

caption {
    color: black;
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    margin: 7px 0;
}

.grower-main {
    display: grid;
    position: relative;
    overflow-y: hidden;
}

.grower-table {
    position: relative;
    overflow-y: scroll;
}

.grower-profile {
  display: grid;
  grid-template-rows: 40% 60%;
}

.image img {
  border-radius: 50%;
  object-fit: cover;
  object-position: 100% 0;
  object-position: 0 100%;
  margin: 5px;
}

.pending-main {
    display: grid;
    grid-template-columns: 33.3%, 33.3%, 33.3%;
    overflow-y: hidden;
}

.request-table {
    padding: 6px;
    overflow-y: scroll;
}