@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

*{
    margin:0;
    padding:0;
    font-family: "Roboto", sans-serif;
  }
  
html, body {
    height: 100%;
    font-weight: bold;
}
    
html {
    background:linear-gradient(to right, #3f9b69 0%, #5cdb95 50%, #3f9b69 99%);
}

.header-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    background-color: #3f9b69;
    
    position: relative;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.liitem {
    top: 0;
    display: block; /*allow to specify padding*/
    color: white;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
    line-height: 20px;
}

.liitem a {
    display: block; /*allow to specify padding*/
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#teaname{
    margin-top: 13px;
    font-size: 22px;
}
/* Change the link color to #111 (black) on hover */
/*
.liitem a:hover:not(.active) {
    background-color: #111;
}*/

/*active class will change color of the current link*/
.active {
    border-radius: 5px;
    background-color: rgb(20, 59, 3);
    width: 100px;
    margin-left: 100px;
}

.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 10px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

#logcont {
    position: relative;
    background: #FFF;
    width:auto;
    border-radius: 10px;
    top:1%;
    text-align: center;
}

#logcont > p {
    font-size: 1.5em;

    background: rgb(20, 59, 3);
    /*background:#05386b;*/
    color: #edf5e1;
    border-radius: 10px 10px 0 0;
    padding: 10px;
  }

.logbutn {
    position: relative;
    color: #FFF;
    background-color: #297062;
    width: 65%;
    padding: 5px 15px;
    margin: 20px 0px 10px;
    transition: background 1.5s ease;
    font-weight: bold;
}
  
.logbutn:hover {
    background-color: #62dd96;
}

.logok {
    color:transparent;
    padding: 15px;
}

.logform {
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}
   
.flog {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.logerr {
    color:#FFF;
    background-color: #b71414;
    padding: 15px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 50px;
  }

.logsuss {
    color:#FFF;
    background-color: #3f9b69;
    padding: 15px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 50px;
}

#logo{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 5px;
    margin-top: 30px;
    width:120px;
}
