.weekReport {
    text-align: left;
    padding: 10px;
}

.data-form {
    line-height: 35px;
}

.data-div {
    display: grid;
    grid-template-columns: 50% 50%;
}

.btn-field {
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    text-align: center;
    margin-top: 20px;
}

.top-bar{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.month-div {
    display: grid;
    grid-template-columns: 40% 60%;
}