.login-response{
    text-align: center;
    color: white;
    background-color: rgb(207, 104, 104);
}

.ss-response{
    text-align: center;
    color: white;
    background-color: rgb(106, 212, 79);
}